
$quicksand: "Quicksand", sans-serif;

@use "vuetify/settings" with (
    $body-font-family: $quicksand,
    $heading-font-family: $quicksand
    );
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');